.site-header {
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 16px;
  line-height: 19px;
}
.header-container {
  max-width: 1440px;
  padding-left: 31px;
  padding-right: 31px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.logo{
  display: inline-block;
  vertical-align: baseline;
  margin-right: 20px;
}
.logo__img {
  display: block;
  max-width: 237px;
  height: 44px;
}

.site-header__toggler{
  display: none;
}
@media only screen and (max-width:1200px) {
  .site-header{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo{
    justify-self: center;
    margin-right: 0;
  }
}
@media only screen and (max-width:760px){
  .header-container{
    flex-direction: row;
    justify-content: space-between;

  }
  .logo__img{
    max-width: 80%;
  }
  .site-header__toggler{
    position: relative;
    z-index: 50;
    display: inline-block;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 20px;
    height: 17px;
    background-image: url("../img/open.svg");
    background-size: 20px 17px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: auto;
  }
  .site-header__toggler::before{
    position: absolute;
    z-index: 50;
    top: -50%;
    left: -50%;
    width: 40px;
    height: 40px;
    background-color:transparent;
    content: "";
  }
  .site-header--open .site-header__toggler{
    background-image: url("../../img/close.svg");
    background-size: 18px 17px;
  }
}
@media only screen and (max-width:600px){
  .header-container{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.site-header{
  // display: none;
}